@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.navbar .navbar-brand img {
    height: 50px;
}

.navbar .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

main {
    margin-top: 100px;
}

.gap-x-1 {
    row-gap: 40px;
}


.spin {
    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-input {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #000 !important;
    padding: 15px 40px 15px 0 !important;
}

.search-cont{
    position: relative;
}

.search-cont .clear-search-cont{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
}

.load-more{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 5px;
}
.navbar-nav-scroll{
    max-height: unset !important;
}